@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 500;
}
