input,
textarea,
select {
  min-height: 40px;
  width: 100%;
  border: gray 1px solid;
  padding-left: 10px;
  font-size: 14px;
}

textarea{
    padding-top: 15px;
    min-height: 60px;
}

.ant-form-item {
  margin-bottom: 8px;
}

input:focus , textarea:focus , select:focus {
  outline: none;
  border: rgb(60, 60, 60) solid 1px;
}

button {
  height: 40px;
}
